<!DOCTYPE html>
<html>
<head>
    <title>GKS-CARE Dashboard</title>
    <link rel="stylesheet" href="/static/style.css"><center>
    <h1> Code Phantom Presents</h1>
</head>
<body>

<div class="container">
    <h1>GKS-CARE</h1>
    <p>AI Patient Monitoring Dashboard</p>

    <div class="card-grid">
        <div class="card">Heart Rate: <span id="hr">--</span></div>
        <div class="card">SpO₂: <span id="spo2">--</span></div>
        <div class="card">Temp: <span id="temp">--</span></div>
        <div class="card">Risk: <span id="risk">--</span></div>
    </div>

    <div class="alert-box">
        Reason: <span id="reason">--</span>
    </div>
</div>

<script src="/static/script.js"></script>
</body>
</html>